body
{
background-image: url("pigeon6.jpeg");
text-align : center;
border:5px;
border-style : double;
border-color:black;
width:600px;
padding-top:50px;
padding-bottom:50px;
padding-right:30px;
padding-left:30px;
margin-top:50px;
margin-left:350px;
margin-right:50px;
color:orange;
}
div
{
border:4px;
border-style : solid;
border-color:black;
width:70px;
margin-left: 270px;
}